* {
  text-align: center;
  font-family: "Koulen", cursive;
}
body {
  background: linear-gradient(to bottom, #fff, #fff 50%, #0e0741 50%, #0e0741);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
h1 {
  color: #8236fd;
  font-size: 6rem;
}

.theme-button {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

.open-slideshow {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}
.top-section {
  background: linear-gradient(to bottom, #fff, #fff);
  height: 55vh;
}

.bottom-section {
  background: linear-gradient(to bottom, #0e0741, #0e0741);
  height: 45vh;
}

.open-slideshow {
  margin: 20px;
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #8236fd;
  color: white;
  border: none;
  cursor: pointer;
}

.open-slideshow:hover {
  opacity: 0.8;
}

/* Show the slideshow when the button is clicked */
.open-slideshow:focus + .slideshow {
  display: block;
}

.slideshow-popup {
  position: relative;
  top: 20%;
  display: block;
  margin: 0 auto;
}

.slideshow-popup {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.slideshow-popup .slide {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
}

.slideshow-popup .prev,
.slideshow-popup .next,
.slideshow-popup .exit {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  color: #fff;
  cursor: pointer;
}

.slideshow-popup .prev {
  left: 10px;
}

.slideshow-popup .next {
  right: 10px;
}

.slideshow-popup .exit {
  top: 10px;
  right: 10px;
}

@media screen and (min-width: 768px) {
  .slideshow-popup .slide {
    max-width: 70%;
    max-height: 70%;
    min-width: 50%;
    min-width: 50%;
  }
}

.theme-button {
  margin: 20px;
  padding: 21px 20px;
  border-radius: 5px;
  font-size: 1.2em;
  background-color: #8236fd;
  color: white;
  border: none;
  cursor: pointer;
  width: 250px;
  text-decoration: none;
  display: inline-block;
}

.theme-button:hover {
  opacity: 0.8;
}

/* Show the slideshow when the button is clicked */
.theme-button:focus + .slideshow {
  display: block;
}

.open-slideshow {
  width: 250px;
  height: 70px;
  border-radius: 5px;
}

.button_container1 {
  position: relative;
  top: 10%;
  padding: 10px;
}

.button_container2 {
  padding: 10px;
  position: relative;
  top: 10%;
}

.container {
  width: 400px;
}

.centered_box {
  width: 700px;
  padding: 1rem;
}

.box-top {
  justify-content: center;
  align-items: center;
  display: flex;
  transform: translateY(-3rem);
}
.box-top img {
  width: 20%;
  height: auto;
}
.box-bottom {
  margin-top: 60px;
}

.exit {
  margin-top: 20px;
}
