
/*color palette 
#ABABB9 light grey
#FFFFFF white
#8236FD purple
#0E0741 dark blue
*/

/*start of themes page css*/

.themes-body {
   margin:0;
   background-color: #8236FD ;
}

.themes-header {
  position: relative;
  overflow: hidden;
  background-color: #0E0741;
  padding: 2rem;

}

.themes-header-text h1 {
  float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  font-family: 'Quicksand', sans-serif;
  font-size: 3.5rem;
  color:#FFFFFF;

}

.themes-header-backbtn a img {
  max-height: 3rem;
  padding-bottom: 3rem;
}


.themes-container {
  box-sizing: border-box;
  display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;

  max-width:max-content;
   margin-left: auto;
   margin-right: auto;
  position: relative;
}

.themes-list {

   padding: 3rem;
   display: flex;
   justify-content: space-around;
   gap: 4rem;
  list-style-type: none;
   text-decoration: none;
}

.themes-body img:hover  {
  opacity: 70%;
  transition: .5s ease;
}  

.themes-list-image {
  max-width: 100%;
  display: block;
  max-height: 300px;
   object-fit: cover;
  border-radius: 2.5rem;
  border-style: inset;
  border-color: #0E0741;
 }


 @media screen and (max-width: 840px) {
  .themes-list {

   padding: 3rem;
   display:grid;
   justify-content: space-around;
   gap: 4rem;
  list-style-type: none;
   text-decoration: none;
}

.themes-header-text h1 {
  float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
  color:#FFFFFF;

}

}

/*end of themes page css*/

body{
    
   /* font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Quicksand', sans-serif;
}

.container{
    margin: 5px auto;
    min-width: 380px;
    max-width: 400px;
    font-size: 16px;
    color: #0E0741;
}
 /**ipad view**/
 @media screen and (min-width: 400px ) {
    .container {
      width: 100%;
      max-width:100%;
      /*background-color: coral;*/
    }
    .letters .letter-box{
        background-color: aqua;
        width:40px;
        height: 40px;
        line-height: 40px;
    }
  }
  /**ipad view end**/

  /**ipad view**/
 @media screen and (min-width: 600px ) {
    .container {
      width: 100%;
      max-width:600px;
      /*background-color: #842626;*/
    }
  }



.row{
    display: flex;
    background-color: #f8f8f8;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    object-fit: cover;
}

.row img{
   object-fit: cover;
}

hr{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #EEE;
}

.game-info{
display: flex;
justify-content: space-between;
}

.game-info .game-name{
font-weight: bold;
text-decoration: none;
font-family: 'Koulen', cursive;
font-size: 20px;
color:#8236FD;
}


.game-info .theme{
    text-align: right;
}

.game-info .theme span{
    text-transform: capitalize;
    color:#8236FD;
    font-weight: bold;
}

.hangman-draw{
    display: flex;
    height: 324px;
    border-radius: 10px;


}

.hangman-draw img{
    justify-content: center;
    height: 100%;
    width:100%;
}


 .hangman-draw.wrong-1 .the-drawing {
    display: block;
 }

 .hangman-draw.wrong-2 .stand {
    display: block;
 }

 .hangman-draw.wrong-3 .hang {
    display: block;
 }

 .hangman-draw.wrong-4 .rope {
    display: block;
 }

 .hangman-draw.wrong-5 .head {
    display: block;
 }

 .hangman-draw.wrong-6 .body {
    display: block;
 }

 .hangman-draw.wrong-7 .arms {
    display: block;
 }

 .hangman-draw.wrong-8 .legs {
    display: block;
 }

 .letters {
    flex:1;
    text-align: center;
 }

 .letters.finished {
    pointer-events: none;
 }

 .letters .letter-box { 
    width: 55px;
    height: 55px;
    display: inline-block;
    background-color:#8236FD;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    color: white;
    font-size: 24x;
    margin-right: 8px;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 8px;
    border-radius: 5px;
 }

 .letters .letter-box:hover { 
    opacity:0.8;
 }

 .letters .letter-box.clicked { 
    background-color: #0E0741;
    opacity:.2;
    pointer-events: none;
 }
 

 .letters-guess {
    display: flex;
    background-color: #f8f8f8;
    padding: 20px;
    display: flex;
    justify-content: center;
    min-height: 104px;
    border-radius: 5px;
 }

 .letters-guess span{
    color:#0E0741;
    width: 50px;
    height: 50px;
    font-size: 24px;
    margin-right: 15px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #fdfdfd;
    border-bottom: 3px solid #0E0741;
    border-radius: 5px;
 }

 .letters-guess span.with-space {
    background: none;
    border-bottom: none;
    position: relative;
 }

 .letters-guess span.with-space:before {
    content:' ';
    width: 20px;
    height: 4px;
    background-color: #8236FD;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

 }

 .popup {
    position: fixed;
    background-color: #8236FD;
    padding: 50px 20px;
    width: 80%;
    top: 40%;
    left: 10%;
    text-align: center;
    font-size: 30px;
    color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 5px rgba(68, 68, 68, 0.5);
    opacity: 0.9;
  }


/*
  Screen reader text utility class
*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
